@page "/login"

<div class="login-box">
    <h1>Login</h1>
    <form>
        <input type="text" id="username" name="username" placeholder="Enter your username">
        <br />
        <input type="password" id="password" name="password" placeholder="Enter your password">
        <br />
        <button type="submit" class="btn btn-success">Login</button>
    </form>
</div>
